h1{
padding-left: 50px;
padding-top: 30px;
color: aquamarine;
/* height: 200px;
width: 50%; */


}
#greenid{
    color : green;
}
.redid{
    color :red ;
}
body {
     /* background-image: url("bg.jpg"); */
    /* background-color: blue; */
}